#arrow {
    width: 80px;
    height: 50px;
    max-width: 6.4vw;
    max-height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--content);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--light);
    color: white;
}

img {
    height: 80%;
    color: var(--text);
}