img {
    width: 550px;
    max-width: 40dvw;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

.hide {
    opacity: 0;
}