@keyframes wobble {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(5deg)}
    100% {transform: rotate(0deg)}
}

@keyframes antiwobble {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(-10deg)}
    100% {transform: rotate(0deg)}
}

@keyframes fadein {
    from {
        opacity: 0;
        pointer-events: none;
    }
    to {
        opacity: 1;
        pointer-events: all;
    }
}


#background {
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100%;
}

#iconimg {
  transition: transform 0.2s ease;
}

.icon {
    position: absolute;
    pointer-events: none;
    transition: inset 2s ease, transform 2s ease;
}

.section {
    position: absolute;
    height: 65px;
    /* transform: translate(-100%); */
    z-index: 10;
    background-color: #bddcdf;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .5s ease;
}


/* CENTERED POSITIONS */

.icon[state="state1"]:nth-child(1) {
    top: 25%;
    right: 69%;
    transform: rotate(70deg);
  }
  
  .icon[state="state1"]:nth-child(2) {
    top: 54%;
    right: 66%;
    transform: rotate(-110deg);
  }
  
  .icon[state="state1"]:nth-child(3) {
    top: 64%;
    right: 53%;
    transform: rotate(-180deg);
  }
  
  .icon[state="state1"]:nth-child(4) {
    top: 62%;
    right: 35%;
    transform: rotate(170deg);
  }
  
  .icon[state="state1"]:nth-child(5) {
    top: 52%;
    right: 25%; 
    transform: rotate(210deg);
  }
  
  .icon[state="state1"]:nth-child(6) {
    top: 30%; 
    right: 24%; 
    transform: rotate(320deg);
  }
  
  .icon[state="state1"]:nth-child(7) {
    top: 24%; 
    right: 35%;
    transform: rotate(180deg);
  }
  
  .icon[state="state1"]:nth-child(8) {
    top: 22%; 
    right: 53%;
    transform: rotate(-120deg);
}


 /* BORDERING POSITIONS */

.icon[state="state2"]:nth-child(1) {
    top: 30%;
    right: 93%;
  }
  
  .icon[state="state2"]:nth-child(2) {
    top: 84%;
    right: 89%;
  }
  
  .icon[state="state2"]:nth-child(3) {
    top: 88%;
    right: 45%;
  }
  
  .icon[state="state2"]:nth-child(4) {
    top: 86%;
    right: 10%;
  }
  
  .icon[state="state2"]:nth-child(5) {
    top: 40%;
    right: 0%; 
  }
  
  .icon[state="state2"]:nth-child(6) {
    top: 0%; 
    right: 7%; 
  }
  
  .icon[state="state2"]:nth-child(7) {
    top: 0%; 
    right: 40%;
  }
  
  .icon[state="state2"]:nth-child(8) {
    top: 0%; 
    right: 75%;
}

.wobble {
    animation: wobble 5s ease-in-out infinite;
}

.anti-wobble {
    animation: antiwobble 8s ease-in-out infinite;
}

#iconimg.reset {
  transform: rotate(0deg) !important;
}

#start-button {
    color: white;
    background-color: #2E5C6E;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Exo';
    width: 75px;
    height: 30px;
    transform: translate(-50%);
    top: 82%;
    left: 50%;
    border-radius: 10px;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    animation: fadein .1s ease-in forwards;
    /* animation-delay: 2s;  */
}

#next-button {
    color: white;
    background-color: #2E5C6E;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Exo';
    width: 125px;
    height: 30px;
    transform: translate(-50%);
    top: 72%;
    left: 50%;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s ease;
}

.hide {
    opacity: 0 !important;
    pointer-events: none !important;
}

.show {
    opacity: 1 !important;
}