<div #background id="background">
    <div class="icon" [attr.state]="state">
        <img #iconimg id="iconimg" src="assets/background_images/one.png" style="height: 250px; max-height: 25dvh" alt="">
        <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 0}" src="assets/section_icons/one.png" 
        style="top: 65.5%; right: 25%; max-height: 6.5dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img #iconimg id="iconimg" src="assets/background_images/two.png" style="width: 170px; max-width: 17dvh" alt="">
      <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 1}" src="assets/section_icons/two.png" 
      style="top: 4.5%; right: 57%; max-height: 6.5dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img #iconimg id="iconimg" src="assets/background_images/three.png" style="height: 110px; max-height: 11dvh" alt="">
      <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 2}" src="assets/section_icons/three.png" 
      style="top: 24.5%; right: 35.3%; max-height: 6.5dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img #iconimg id="iconimg" src="assets/background_images/four.png" style="height: 130px; max-height: 13dvh" alt="">
      <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 3}" src="assets/section_icons/four.png" 
      style="top: 5.5%; right: 20.2%; max-height: 6.5dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img #iconimg id="iconimg" src="assets/background_images/five.png" style="height: 220px; max-height: 22dvh" alt="">
      <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 4}" src="assets/section_icons/five.png" 
      style="top: 66.5%; right: 14%; max-height: 6.5dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img #iconimg id="iconimg" src="assets/background_images/six.png" style="height: 120px; max-height: 12dvh" alt="">
      <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 5}" src="assets/section_icons/six.png" 
      style="top: 1%; right: 2%; max-height: 6.5dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img #iconimg id="iconimg" src="assets/background_images/seven.png" style="height: 100px; max-height: 10dvh" alt="">
      <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 6}" src="assets/section_icons/seven.png" 
      style="top: 3.5%; right: 53.3%; max-height: 6.5dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img #iconimg id="iconimg" src="assets/background_images/eight.png" style="height: 120px; max-height: 12dvh" alt="">
      <img #section class="section" [ngClass]="{'show': navigation.current_slide >= 7}" src="assets/section_icons/eight.png" 
      style="top: 29.5%; right: 30.4%; max-height: 6.5dvh" alt="">
    </div>

    <div id="start-button" (click)="start()" [ngClass]="{'hide': started}">Start</div>
    <!-- <div id="next-button" (click)="next()" [ngClass]="{'show': navigation.current_slide >= 0}">Next Section</div> -->


    <connection #conn0></connection>
    <connection #conn1></connection>
    <connection #conn2></connection>
    <connection #conn3></connection>
    <connection #conn4></connection>
    <connection #conn5></connection>
    <connection #conn6></connection>

</div>