<canvas #cv [ngClass]="{'hide': stage > 3}"></canvas>
<div id="overlay">
    <img [ngClass]="{'hide': stage > 3}"  src="assets/slide_images/hose/hose.png" alt="" id="hose">
    <img (click)="start_hose()" [ngClass]="{'hide': stage > 2}" [class.spinning]="on" src="assets/slide_images/hose/valve.png" alt="" id="valve">
    <div id="hint" [ngClass]="{'move-up': on, 'hide': stage > 2}">
        <p class="bubble">{{spraying ? 'Slide to adjust the stream!' : 'Click to start hose!'}}</p>
        <span class="material-symbols-outlined">arrow_forward</span>
    </div>
    <slider [ngClass]="{'hide': stage > 2}" [value]="0" (valueChange)="set_gravity(($event-50)/17)" [show]="true"></slider>
    <div id="dialogue" [ngClass]="{'disable': disable}" [ngSwitch]="frame_object['template']" [@fadeAnimation]="frame">
        <p>{{frame_object.text}}</p>
        <video [ngClass]="{'hide': stage < 4}" [muted]="true" loop autoplay>
            <source src="assets/slide_images/hose/hose.mov" type="video/mp4" />Your browser does not support the video tag.
        </video>
        <next-button [ngClass]="{'hide': !spraying}" (clicked)="advance()"></next-button>
    </div>
</div>