<canvas #cv></canvas>
<div id="overlay">
    <img src="assets/slide_images/hose/hose.png" alt="" id="hose">
    <img (click)="start_hose()" [class.spinning]="on" src="assets/slide_images/hose/valve.png" alt="" id="valve">
    <p class="bubble">Click to start hose!</p>
    <p class="bubble">Slide to adjust the stream!</p>
    <span class="material-symbols-outlined">arrow_forward</span>
    <slider (valueChange)="set_gravity(($event-50)/50)" [show]="true"></slider>
    <div id="dialogue" [ngClass]="{'disable': disable}" [ngSwitch]="frame_object['template']" [@fadeAnimation]="frame">
        <div id="top-text">
            <p>{{frame_object['text']}}</p>
        </div>
        <next-button (clicked)="nextFrame()"></next-button>
    </div>
</div>