h2 {
    padding: 0;
}

p {
    text-align: left;
    /* line-height: 2; */

/* position: absolute;
width: 600px;
height: 195px;
left: calc(50% - 600px/2);
top: 0px; */

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;

    color: #6C3428;
}

img {
    height: 180px;
    width: auto;
    margin: 20px;
}

progress-bar {
    position: absolute;
    right: 0;
}

#container {
    background-color: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    padding: 60px 50px 70px;
}

#content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

/* .paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px solid #ccc;
} */

.navigation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 40px;
    width: 100px;
    transition: opacity .4s ease;
}

.image_choices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp_mcimage {
    margin-bottom: -10px;
}

.hide-button {
    opacity: 0;
    pointer-events: none;
}