<div id="container">

    <h2>{{title}}</h2>

    <div id="content" [@fadeAnimation]="animationState" [ngSwitch]="format">

        <ng-container *ngSwitchCase="'text'">

            <div class="paragraphs">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

            <div class="button">
                <next-button (clicked)="nextFrame()"></next-button>
            </div>

        </ng-container>


        <ng-container *ngSwitchCase="'mc'">

            <div class="paragraphs">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

            <ng-container *ngIf="content.choices">
                <multiple-choice [choices]="content.choices!" [horizontal]="content.choices!.horizontal" (selected)="selectOption($event)"></multiple-choice>
            </ng-container>

            <div class="button">
                <next-button *ngIf="selected_option != -1" (clicked)="nextFrame()"></next-button>
            </div>

        </ng-container>

        <ng-container *ngSwitchCase="'mc_image'">

            <div class="paragraphs">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

            <div class="image_choices">
                <img [src]="content.image">

                <ng-container *ngIf="content.choices">
                    <multiple-choice [choices]="content.choices!" [horizontal]="content.choices!.horizontal" (selected)="selectOption($event)"></multiple-choice>
                </ng-container>
            </div>

            <div class="button">
                <next-button *ngIf="selected_option != -1" (clicked)="nextFrame()"></next-button>
            </div>


        </ng-container>

        <ng-container *ngSwitchCase="'end'">

            <div class="paragraphs">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

        </ng-container>


    </div>

</div>