h2 {
    padding: 0;
}

p {
    text-align: left;
    line-height: 2;
}

img {
    height: 180px;
    width: auto;
    margin: 20px;
}

#container {
    background-color: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 50px 50px;
}

#content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    height: 40px;
    width: 100px;
    transition: opacity .4s ease;
}

.image_choices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp_mcimage {
    margin-bottom: -10px;
}

.hide-button {
    opacity: 0;
    pointer-events: none;
}