h2 {
    padding: 0;
}

p {
    text-align: left;
    /* line-height: 2; */

/* position: absolute;
width: 600px;
height: 195px;
left: calc(50% - 600px/2);
top: 0px; */

    font-family: 'Exo'; 
    /* 
            Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family (400)
        Aubrey&
                family=Didact+Gothic&
    family=Exo:ital,wght@0,100..900;1,100..900&family=
        Josefin+Sans:ital,wght@0,100..700;1,100..700&
            family=Jura:wght@300..700& (500)
            family=Montserrat:ital,wght@0,100..900;1,100..900& (400)
        family=Noto+Sans:ital,wght@0,100..900;1,100..900&
        family=Rajdhani:wght@300;400;500;600;700&
        family=Reem+Kufi:wght@400..700&
        family=Revalia&
                family=Saira:ital,wght@0,100..900;1,100..900&display=swap */
    /* https://fonts.googleapis.com/css2?
    family=Annie+Use+Your+Telescope& (in bubble)
    family=Chilanka& (email)
        family=Coming+Soon&
        family=Edu+NSW+ACT+Foundation:wght@400..700&
    family=Edu+QLD+Beginner:wght@400..700& (therapist)
        family=Edu+VIC+WA+NT+Beginner:wght@400..700&
            family=Indie+Flower& (bubble)
            family=Klee+One& (therapist)
            family=Nothing+You+Could+Do& (bubble)
        family=Shadows+Into+Light+Two&
        family=Waiting+for+the+Sunrise&display=swap */
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;

    color: #2E5C6E;    
    /* color: #6C3428; */
}

img {
    height: 180px;
    width: auto;
    margin: 20px;
}

progress-bar {
    position: absolute;
    right: 0;
}

#container {
    background-color: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    padding: 60px 0px 70px;
}

#content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

/* .paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px solid #ccc;
} */

.navigation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 40px;
    width: 100px;
    transition: opacity .4s ease;
}

.image_choices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp_mcimage {
    margin-bottom: -10px;
}

.hide-button {
    opacity: 0;
    pointer-events: none;
}
