<div id="container">

    <!-- <h2>{{title}}</h2> -->

    <div id="content" [@fadeAnimation]="animationState" [ngSwitch]="format">





        <ng-container *ngSwitchCase="'text'">

            <div class="paragraphs">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

            <div class="navigation">
                <!-- <progress-bar [show]="allow_next" [progress]="timerWidth()"></progress-bar> -->
                <div class="button">
                    <next-button (clicked)="nextFrame()"></next-button>
                </div>
            </div>

        </ng-container>


        <ng-container *ngSwitchCase="'mc'">

            <div class="paragraphs">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

            <ng-container *ngIf="content.choices">
                <multiple-choice [choices]="content.choices!" [horizontal]="content.choices!.horizontal" (selected)="selectOption($event)"></multiple-choice>
            </ng-container>

            <div class="button">
                <next-button *ngIf="selected_option != []" (clicked)="nextFrame()"></next-button>
            </div>

        </ng-container>

        <ng-container *ngSwitchCase="'mc_image'">

            <div class="paragraphs pp_mcimage">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

            <div class="image_choices">
                <img [src]="content.image">

                <ng-container *ngIf="content.choices">
                    <multiple-choice [choices]="content.choices!" [horizontal]="content.choices!.horizontal" (selected)="selectOption($event)"></multiple-choice>
                </ng-container>
            </div>

            <div class="button">
                <next-button *ngIf="selected_option != []" (clicked)="nextFrame()"></next-button>
            </div>


        </ng-container>

        <ng-container *ngSwitchCase="'text_image'">

            <!-- <ng-container [ngTemplateOutlet]="first_one"></ng-container>
            <ng-template #first_one>
                <section class="variantA">
                    <div class="paragraphs">
                        <p>
                            The first came from a lady whose lover ... is a large farmer. And he’s been told by creditors that he has to negotiate the sale or disposal of some of his farm assets, or they’ll shut him down.
                        </p>
                    </div>
                    <div class="paragraphs">
                        <p>
                            So she called me in desperation..
                        </p>
                    </div>
                    <div class="navigation">
                        <div class="button">
                            <next-button (clicked)="nextFrame()"></next-button>
                        </div>
                    </div>
                </section>
            </ng-template> -->
            
            @switch ('text_image') {
                @case ('text_image') {
                  <section class="variantA">
                    <div class="paragraphs" style="padding-top:20px; ">
                      <p>
                        The first came from a lady whose lover ... is a large farmer. And he’s been told by creditors that he has to negotiate the sale or disposal of some of his farm assets, or they’ll shut him down.
                      </p>
                    </div>
                    <img src="./../../../assets/slide_images/face_bubble_text.png" style="margin: -25px 0px -30px; width: 100%; height: auto;">
                    <div class="paragraphs">
                      <p>So she called me in desperation..</p>
                    </div>
                    <div class="navigation">
                      <div class="button" style="margin-top:-35px; margin-left: 75%">
                        <next-button (clicked)="nextFrame()"></next-button>
                      </div>
                    </div>
                  </section>
                }
                @default { <!-- other cases --> }
              }

        </ng-container>

        <ng-container *ngSwitchCase="'end'">

            <div class="paragraphs">
                <p *ngFor="let pp of content.paragraphs">
                    {{pp}}
                </p>
            </div>

        </ng-container>


    </div>

</div>