<div id="background">
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/one.png" style="height: 250px; max-height: 25dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/two.png" style="width: 170px; max-width: 17dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/three.png" style="height: 110px; max-height: 11dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/four.png" style="height: 130px; max-height: 13dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/five.png" style="height: 220px; max-height: 22dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/six.png" style="height: 120px; max-height: 12dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/seven.png" style="height: 100px; max-height: 10dvh" alt="">
    </div>
    <div class="icon" [attr.state]="state">
      <img src="assets/background_images/eight.png" style="height: 120px; max-height: 12dvh" alt="">
    </div>

    <button (click)="start()">Start</button>
</div>