ul {
    list-style: none;
    padding: 0;
  }
  
li {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    color: var(--white);
    background-color: var(--light);
    font-family: "Exo";
    font-size: 25px;
    transition: border 0.05s ease-in, color 0.05s ease-in;
}

li:hover {
    /* outline: 3px solid #70342c; */
    color: #70342c;
}

li.selected {
    /* outline: 3px solid #70342c; */
    color: #70342c;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.horizontal {
    display: flex;
}

/* .mc-question.horizontal li {
    margin-right: 10px;
    margin-bottom: 0; 
} */

.vertical {
    display: block;
}