@keyframes rotate{
    from{transform: rotate(90deg)}
    to{transform: rotate(450deg)}
}

@keyframes rotate-frame {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

@keyframes reset {
    from {transform: rotate(85deg)}
    to {transform: rotate(445deg)}
}

@keyframes zoom-in {
    0% {transform: scale(1)}
    50% {transform: scale(2)}
    100% {transform: scale(1)}
}

next-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(50%);    
    margin: 10%;
    z-index: 2000 !important;
    pointer-events: auto;
}

loading {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(50%);    
    margin: 10%;
    z-index: 2000 !important;
    pointer-events: auto;
}


#drag-button {
    z-index: 1000 !important;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    outline: 2px solid var(--content);
    border: 2px solid var(--background);
    background-color: var(--content);
    border-radius: 50%;
    cursor: pointer;
}

#drag-button img {
    pointer-events: none;
    width: 30px;
    color: var(--light);
}

#frame {
    animation: rotate 10s infinite reverse;
    animation-timing-function: linear;
    animation-play-state: running;
    transition: transform .5s;
}

#wrapper {
    transition: transform 1s ease, opacity 1s ease;
    transform: scale(1) translateX(-25%);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#trace {
    opacity: 0;
    transition: opacity 1s ease;
}

#trace.reveal {
    opacity: 1;
}

#projection {
    opacity: 0;
    transition: opacity 1s ease;
}

#projection.reveal {
    opacity: 1;
}

#dialogue {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10%;
    pointer-events: none;
    transition: opacity 1s ease;
}

#top-text {
    display: flex;
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
}

#bottom-text {
    display: flex;
    box-sizing: border-box;
    padding: 40px;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
}


#ocean {
    animation: rotate 10s infinite;
    animation-timing-function: linear;
    transition: rx 0.8s ease, ry 0.8s ease transform 0.8s ease;
}

#earth {
    transition: transform 2s ease;
}

#earth.shift {
    transform: translateY(2%);
}


#globe {
    animation: rotate 2.5s infinite;
    animation-timing-function: linear;
}

#moon {
    animation: rotate 10s infinite;
    animation-timing-function: linear;
}

.zoom {
    transform: scale(1.6) translateX(-10%) !important;
}

#frame.rotate {
    animation-play-state: paused;
}

#frame.reset {
    animation: reset 10s infinite reverse !important;
}
