<div id="wrapper" class="zoom">

    <svg id="frame" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="-75 -50 150 100" preserveAspectRatio="xMidYMid meet">

        <!-- <path id="moon-orbit" d="M -35,0 a 35,33.4 0 1,1 70,0 a 35,33.4 0 1,1 -70,0" fill="none" stroke="black" /> -->

        <path id="moon-orbit" 
      d="M 0,-35 
         a 35,33.4 0 1,1 0,66.8 
         a 35,33.4 0 1,1 0,-66.8" 
      fill="none"/>

      <path id="trace" 
      d="M 0,-35 
         a 35,33.4 0 1,1 0,66.8 
         a 35,33.4 0 0,1 -35,-33.4" 
      fill="none" stroke="var(--content)"
      stroke-width="1" stroke-dasharray="3 6"/>

      <path id="projection"
        d="M 0,-35 Q -15,-35 -35,1.6 "
        fill="none"
        stroke="black"
      />


        <marker id="arrow" markerWidth="6" markerHeight="6" refX="5" refY="3" orient="auto" markerUnits="strokeWidth"> <path d="M0,0 L6,3 L0,6 Z" fill="black"/> </marker>

          
        <!-- <path d=" M -35,0 A 35,33.4 0 1 0 0 -33.4"
        fill="none"
        stroke="black"
        stroke-width=".5"
        stroke-dasharray="2 4"
        stroke-dashoffset = "100%"
        /> -->


        <!-- <path id="earth-orbit" d="M 3,0 a 3,3 0 1,1 -6,0 a 3,3 0 1,1 6,0" fill="none"/> -->
        <path id="earth-orbit" d="M 0,3 a 3,3 0 1,1 0,-6 a 3,3 0 1,1 0,6" fill="none"/>

        <path id="false-orbit" d="M 7,0 a 7,7 0 1,1 -14,0 a 7,7 0 1,1 14,0" fill="none"/>
    
        <g>
            <image id="moon" x="-4" y="-4" width="8" height="8" href="assets/slide_images/moon.svg"/>
            <animateMotion #animMoon dur="10s" repeatCount="indefinite" startOffset="405" begin=".01s">
                <mpath href="#moon-orbit"/>
            </animateMotion>
        </g>
    
        <ellipse id="ocean" cx="0" cy="0" rx="11.5" ry="11.5" fill="deepskyblue">
            <animateMotion dur="10s" repeatCount="indefinite" begin=".01s">
                <mpath href="#earth-orbit"/>
            </animateMotion>
            <animate #animWidth
            attributeName="rx"
            from="11.5"
            to="12.5"
            dur="1s"
            fill="freeze"
            begin="indefinite" />
            <animate #animHeight
            attributeName="ry"
            from="11.5"
            to="10"
            dur="1s"
            fill="freeze"
            begin="indefinite"/>
            <animate #animShift
            attributeName="cx"
            from="0"
            to="-2"
            dur="1s"
            fill="freeze"
            begin="indefinite" />
            <animate #animRevert
            attributeName="cx"
            from="-2"
            to="0"
            dur="1s"
            fill="freeze"
            begin="indefinite" />
        </ellipse>
    
        <g id="earth" [ngClass]="{'shift': stage == 2}">
            <image id="globe" x="-10" y="-10" width="20" height="20" href="assets/slide_images/globe.svg"/>
            <animateMotion dur="10s" repeatCount="indefinite" begin=".01s" rotate="auto">
                <mpath href="#earth-orbit"/>
            </animateMotion>
        </g>
    </svg>
    

</div>

<div id="dialogue">
    <!-- <div id="top-text"></div>
    <div id="bottom-text"></div> -->
    <arrow (clicked)="advance()"></arrow>
</div>