<div id="wrapper" [style.opacity]="window_opacity" class="zoom">

    <svg #svg_frame id="frame" [ngClass]="{'rotate': stop_rotation}" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="-75 -50 150 100" preserveAspectRatio="xMidYMid meet">

        <!-- <path id="moon-orbit" d="M -35,0 a 35,33.4 0 1,1 70,0 a 35,33.4 0 1,1 -70,0" fill="none" stroke="black" /> -->

        <path id="moon-orbit" 
      d="M 0,-35 
         a 35,33.4 0 1,1 0,66.8 
         a 35,33.4 0 1,1 0,-66.8" 
      fill="none"/>

      <path id="trace" [ngClass]="{'reveal': start_drag}" 
      d="M 0,-35 
         a 35,33.4 0 1,1 0,66.8 
         a 35,33.4 0 0,1 -35,-33.4" 
      fill="none" stroke="var(--content)"
      stroke-width="1" stroke-dasharray="3 6"/>

      <!-- <circle [attr.cx]="drag_point" cy="-33" r="1" fill="red"/>
      <circle cx="-65" cy="-33" r="1" fill="green"/>
      <circle cx="35" cy="-33" r="1" fill="blue"/> -->

      <path id="projection" [ngClass]="{'reveal': start_drag}" [attr.d]="projection_path"
        fill="none"
        stroke="var(--content)"
      />


      <marker id="arrow-start"
      viewBox="0 0 10 10"
      markerWidth="3"
      markerHeight="3"
      refX="0" refY="5"
      orient="auto"
      markerUnits="strokeWidth">
    <path d="M0,5 L10,0 L10,10 Z" fill="var(--content)"/>
    </marker>
          
        <!-- <path d=" M -35,0 A 35,33.4 0 1 0 0 -33.4"
        fill="none"
        stroke="black"
        stroke-width=".5"
        stroke-dasharray="2 4"
        stroke-dashoffset = "100%"
        /> -->


        <!-- <path id="earth-orbit" d="M 3,0 a 3,3 0 1,1 -6,0 a 3,3 0 1,1 6,0" fill="none"/> -->
        <path id="earth-orbit" d="M 0,3 a 3,3 0 1,1 0,-6 a 3,3 0 1,1 0,6" fill="none"/>

        <path id="false-orbit" d="M 7,0 a 7,7 0 1,1 -14,0 a 7,7 0 1,1 14,0" fill="none"/>
    
        <g>
            <image #moon id="moon" x="-4" y="-4" width="8" height="8" href="assets/slide_images/moon.svg"/>
            <animateMotion #animMoon dur="10s" repeatCount="indefinite" startOffset="405" begin=".01s">
                <mpath href="#moon-orbit"/>
            </animateMotion>
        </g>
    
        <ellipse #ocean id="ocean" cx="0" cy="0" rx="11.5" ry="11.5" fill="deepskyblue">
            <animateMotion dur="10s" repeatCount="indefinite" begin=".01s">
                <mpath href="#earth-orbit"/>
            </animateMotion>
            <animate #animWidth
            attributeName="rx"
            from="11.5"
            to="12.5"
            dur="1s"
            fill="freeze"
            begin="indefinite" />
            <animate #animHeight
            attributeName="ry"
            from="11.5"
            to="10"
            dur="1s"
            fill="freeze"
            begin="indefinite"/>
            <animate #animShift
            attributeName="cx"
            from="0"
            to="-2"
            dur="1s"
            fill="freeze"
            begin="indefinite" />
            <animate #animRevert
            attributeName="cx"
            from="-2"
            to="0"
            dur="1s"
            fill="freeze"
            begin="indefinite" />
        </ellipse>
    
        <g id="earth" [ngClass]="{'shift': earth_shift}">
            <image #earth id="globe" x="-10" y="-10" width="20" height="20" href="assets/slide_images/globe.svg"/>
            <animateMotion dur="10s" repeatCount="indefinite" begin=".05s" rotate="auto">
                <mpath href="#earth-orbit"/>
            </animateMotion>
        </g>
    </svg>
    
    <div id="drag-button" *ngIf="start_drag" 
        [style.left.px]="drag_position.x"
        [style.top.px]="drag_position.y"
        drag
        [svg]="frame_el"
        [range]="[-60,-10]"
        direction="x"
        [axis_constant]="-33"
        (coordinate)="update_coord($event)"
        (pixels)="update_pixels($event)">
        <img src="assets/ui/double-arrow.svg" alt="">
    </div>

</div>

<div id="dialogue" [style.opacity]="window_opacity">
    <!-- <div id="top-text"></div>
    <div id="bottom-text"></div> -->
    <arrow (clicked)="advance()" [style.opacity]="button_opacity"></arrow>
</div>
