#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

#chart {
    width: 70%;
    height: 60%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
  }