#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

#chart {
    width: 70%;
    height: 60%;
}

button {
    z-index: 1000;
}

canvas {
    display: block;
}

.line {
    font-family: Exo, sans-serif;
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    width: 100px;
    margin: 20px 0;
    opacity: .7;
    border: 2px solid var(--background);
    cursor: pointer;
}

.line:hover {
    opacity: 1;
    border: 2px solid var(--content);
}