#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

#chart {
    width: 70%;
    height: 60%;
}

button {
    z-index: 1000;
}

canvas {
    display: block;
}

#lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    aspect-ratio: 1 / 3.5;
    height: 350px;
    max-height: 35vh;
}

.line {
    font-family: Exo, sans-serif;
    color: var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 12% !important;
    opacity: 1;
    border: 2px solid var(--background);
    cursor: pointer;
    transition: .2s transform;
}

.line:hover {
    transform: scale(1.1);
}