#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

#content {
    width: 55%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content p {
    margin: 0;
}

#interactive {
    position: relative;
    height: 55%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart {
    height: 85%;
    width: 95%;
}

button {
    z-index: 1000;
}

canvas {
    display: block;
}

.line {
    width: 100%;
    height: 50px;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--white);
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.disable {
    pointer-events: none !important;
}

#lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    aspect-ratio: 1 / 3.5;
    text-align: center;
    height: 60%;
}

#next {
    margin-top: 2%;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

.label {
    position: absolute;
    margin: 0;
    transform: translate(-50%);
    transition: .5s opacity;
}

#x-label {
    bottom: 0;
    left: 50%;
}


#y-label {
    top: 45%;
    left: -2%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transform-origin: center center;
}

.show {
    opacity: 1 !important;
}

.hide {
    opacity: 0;
}