<div id="container" *ngIf="isBrowser">
    <div id="chart">
        <canvas baseChart
        [type]="'line'"
        [data]="chartData"
        [options]="chartOptions">
        </canvas>
    </div>
    <button (click)="addLine('human', 'red')">Human</button>
    <button (click)="addLine('solar', 'blue')">Solar</button>
    <button (click)="change_range(0, .3)">zoom</button>
    <button (click)="change_range(-1, 1)">reset</button>
    <!-- <button (click)="addLine('volcanic', 'orange')">Volcanic</button> -->
</div>