#site {
    box-sizing: border-box;
    background-color: inherit;
    position: relative;
    width: 100vw;
    height: calc(100dvh);
    overflow: hidden;
    margin: 0;
}
  
#background {
    box-sizing: border-box;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    object-fit: contain;
    object-position: center;
    z-index: 1;
 }
  
#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    /* height: 70%; */
    z-index: 2;
    display: flex;
    object-position: center;
    flex-direction: column;
    overflow: auto;
}

slides {
    width: calc(100%);
    height: calc(100%);
}