<div id="site">
  <div id="content">
    <border></border>
    <landing *ngIf="current_slide == -1"></landing>
    <chart *ngIf="current_slide >= 0"></chart>
    <!-- <chart-matching *ngIf="current_slide >= 0"></chart-matching> -->
    <!-- <hose *ngIf="current_slide >= 0"></hose> -->
    <!-- <farmers *ngIf="current_slide == 0"></farmers> -->
    <!-- <tides-text *ngIf="current_slide == 1 || current_slide == 2"></tides-text> -->
    <!-- <tides *ngIf="current_slide == 0 || current_slide == 1"></tides> -->
  </div>

</div>
