/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    background: var(--content);
    color: var(--content);
    border-radius: 50%;
    animation: l6 .7s infinite linear alternate;
  }
  @keyframes l6 {
      0%  {box-shadow: 15px 0,-25px 0}
      50% {box-shadow: 15px 0,-15px 0}
      100%{box-shadow: 25px 0,-15px 0}
  }