#container {
    margin-top: 0px;
    display: inline-block;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    background-color: var(--light);
    border-radius: 7px;

    width: 100%;
    height: 100%;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: var(--white);

}
  
#button:hover {
    
    background-color: var(--content); 

}