#container {
    margin-top: 0px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#button {
    cursor: pointer;
    transition: background-color 0.2s ease, width .2s ease, height .2s ease, font-size .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 40px;
    gap: 100px;
    background-color: var(--light);
    border-radius: 10px;

    width: 49px;
    height: 29px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: var(--white);

}
  
#button:hover {
    
    background-color: var(--content); 
    width: 52px;
    height: 32px;
    font-size: 26px;

}