<div id="container">
    <div id="content" [ngSwitch]="frame_object['template']" [@fadeAnimation]="frame">

        <ng-container *ngSwitchCase="'a'">

            <div class="nested">
                <div class="a-left">
                    <p>{{frame_object['text']}}</p>
                    <option-box [options]="frame_object['input_box'].options"></option-box>
                </div>
                <div class="a-right">
                    <video [muted]="true" loop autoplay>
                        <source src="assets/slide_images/tides/bay_of_fundy.mp4" type="video/mp4" />Your browser does not support the video tag.
                    </video>
                    <next-button (clicked)="nextFrame()"></next-button>
                </div>
            </div>

        </ng-container>
    </div>
</div>