#container {
    margin-top: 0px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#button {
    /* width: 90px;
    height: 30px; */
    /* Button */
    /* background-color: rgb(172, 172, 172); */
    /* color: white; */
    /* border: none; */
    /* border-radius: 4px; */
    cursor: pointer;
    /* font-size: 13px;
    font-family: 'Roboto', sans-serif; */
    /* font-weight: 600; */
    transition: background-color 0.2s ease, width .2s ease, height .2s ease, font-size .2s ease;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /* Auto layout */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 5px 40px;
    gap: 100px;

    /* position: absolute; */
    /* width: 169px;
    height: 49px;
    left: 216px;
    top: 298px; */

    /* background: #E9B384; */
    background-color: #258d9d;
    border-radius: 10px;
    /* Next */

    width: 49px;
    height: 29px;

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    /* color: #000000; */
    color: white;
    /* Inside auto layout */
    /* flex: none;
    order: 0;
    flex-grow: 0; */

}
  
#button:hover {
    /* background-color: gray; */
    /* width: 95px;
    height: 33px;
    font-size: 14px; */
    
    background-color: #2E5C6E; 
    /* Green
#B5CAA0
#4A593D
#91AD70

Yellow
#D9CD90
#6E552F
#B68E55

Orange
#ECB88A
#724938
#CA7853

Pink
#D7C4BB
#86473F
#9E7A7A

Blue
#d1e3f2
#124882
#5285bc

Purple
#cacce9
#211e55
#8e8cb8 */
    width: 52px;
    height: 32px;
    font-size: 26px;

}