.slider-container {
    position: relative;
    width: 5px;
    max-width: 1vw;
    height: 100%;
    background: var(--content);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: .5s opacity;
  }
  
  .slider-handle {
    position: absolute;
    left: 50%;
    box-sizing: border;
    transform: translate(-50%, 50%);
    width: 28px;
    height: 28px;
    background: var(--white);
    border-radius: 50%;
    border: 2px solid var(--content);
  }

.show {
    opacity: 1;
    pointer-events: all;
}
  