<div id="container" *ngIf="isBrowser">
    <div id="content" [@fadeAnimation]="frame < 11 ? frame : null">
        <p>{{frame_object['text']}}</p>
    </div>
    <div id="interactive">
        <p id="x-label" class="label">Year</p>
        <p id="y-label" [ngClass]="{'hide': y_label}" class="label">𝑥</p>
        <p id="temp-label" [ngClass]="{'show': y_label}" class="label">Global Temperature Change</p>
        <div id="chart">
            <canvas baseChart
            [type]="'line'"
            [data]="chartData"
            [options]="chartOptions">
            </canvas>
        </div>
        <slider (valueChange)="update_projection($event)" [show]="show_slider"></slider>
    </div>
    <div id="next">
        <next-button (clicked)="nextFrame()" [show]="advance"></next-button>
    </div>
</div>