@keyframes bounce {
    0% {width: 550px}
    25% {width: 555px}
    50% {width: 560px}
    75% {width: 555px}
    100% {width: 550px}

}


img {
    width: 530px;
    max-width: 40dvw;
    /* animation: bounce 3s infinite; */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

.hide {
    opacity: 0;
}

#start-button {
    color: white;
    background-color: #2E5C6E;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Exo';
    width: 75px;
    height: 30px;
    transform: translate(-50%);
    top: 82%;
    left: 50%;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
    animation: fadein .1s ease-in forwards;
    /* animation-delay: 2s;  */
}